<h1>Notes#new</h1>
<p>Find me in app/views/notes/new.html.erb</p>

<%= simple_form_for [@lead, @note] do |f| %>
<%= f.text_area :content %>
<%= f.submit "Submit" %>
<%#= f.hidden_field :lead_id %>
<% end %>
